<preloader></preloader>

<div class="row header-row">
  <div class="col-xs-12 col-lg-6 no-padding">
    <h2 class="title">{{ data.page.title }}</h2>
  </div>
  <div class="col-xs-9 col-lg-3" *ngIf="!preloaderService.getPendingRequests()">
    <button class="btn btn-block btn-default" (click)="cancel()">
      {{ 'ACTIONS.CANCEL' | translate }}
    </button>
  </div>
  <div class="col-xs-9 col-lg-3 no-padding" *ngIf="!preloaderService.getPendingRequests()">
    <button class="btn btn-block btn-primary" (click)="save()">
      {{ 'ACTIONS.SAVE' | translate }}
    </button>
  </div>
</div>

<div class="row collection-row">
  <div class="col-md-12">
    <div class="tab-content animated fadeIn" *ngIf="!preloaderService.getPendingRequests()">
      <app-medicamento-form [data]="data"></app-medicamento-form>
      <hr>
      <button class="btn btn-default" (click)="toggleShowhowHistory()">
        <span *ngIf="!data.medicamentos.item.showHistory">{{ 'ACTIONS.SHOW_HISTORY' | translate }}</span>
        <span *ngIf="data.medicamentos.item.showHistory">{{ 'ACTIONS.HIDE_HISTORY' | translate }}</span>
      </button>
      <br>
      <app-medicamento-history [item]="data.medicamentos.item.data"
                               *ngIf="data.medicamentos.item.showHistory">
      </app-medicamento-history>
    </div>
  </div>
</div>

